In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import torch
import torchvision

In [6]:
train = pd.read_csv("../dataset/train/train_aWnotuB.csv")
test = pd.read_csv("../dataset/test/test_BdBKkAj_L87Nc3S.csv")

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48120 entries, 0 to 48119
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DateTime  48120 non-null  object
 1   Junction  48120 non-null  int64
 2   Vehicles  48120 non-null  int64
 3   ID        48120 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB

In [8]:
train.describe()

           Junction      Vehicles            ID
count  48120.000000  48120.000000  4.812000e+04
mean       2.180549     22.791334  2.016330e+10
std        0.966955     20.750063  5.944854e+06
min        1.000000      1.000000  2.015110e+10
25%        1.000000      9.000000  2.016042e+10
50%        2.000000     15.000000  2.016093e+10
75%        3.000000     29.000000  2.017023e+10
max        4.000000    180.000000  2.017063e+10

In [11]:
train.columns

Index(['DateTime', 'Junction', 'Vehicles', 'ID'], dtype='object')

In [28]:
train['DateTime']=pd.to_datetime(train.DateTime)
train['ID']=train['ID'].astype('object')

In [29]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48120 entries, 0 to 48119
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DateTime  48120 non-null  datetime64[ns]
 1   Junction  48120 non-null  int64
 2   Vehicles  48120 non-null  int64
 3   ID        48120 non-null  object
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 1.5+ MB

In [30]:
train.describe()

           Junction      Vehicles
count  48120.000000  48120.000000
mean       2.180549     22.791334
std        0.966955     20.750063
min        1.000000      1.000000
25%        1.000000      9.000000
50%        2.000000     15.000000
75%        3.000000     29.000000
max        4.000000    180.000000

In [31]:
train['DateTime']

0       2015-11-01 00:00:00
1       2015-11-01 01:00:00
2       2015-11-01 02:00:00
3       2015-11-01 03:00:00
4       2015-11-01 04:00:00
                ...
48115   2017-06-30 19:00:00
48116   2017-06-30 20:00:00
48117   2017-06-30 21:00:00
48118   2017-06-30 22:00:00
48119   2017-06-30 23:00:00
Name: DateTime, Length: 48120, dtype: datetime64[ns]

In [32]:
test['DateTime']

0        2017-07-01 00:00:00
1        2017-07-01 01:00:00
2        2017-07-01 02:00:00
3        2017-07-01 03:00:00
4        2017-07-01 04:00:00
                ...
11803    2017-10-31 19:00:00
11804    2017-10-31 20:00:00
11805    2017-10-31 21:00:00
11806    2017-10-31 22:00:00
11807    2017-10-31 23:00:00
Name: DateTime, Length: 11808, dtype: object